/* ------------------ 字體 ------------------ */
@font-face {
    font-family: "JFopen";
    src: url('../jf-openhuninn-1.1.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}





/* ------------------ 變數 ------------------ */
:root {
  --primary: 177, 31%, 55%;
  --primary-dark: 177, 31%, 35%;
  --primary-light: 177, 31%, 85%;
  --hover: 177, 31%, 45%;

  --light: 60, 100%, 99%;
  --white: 48, 62.5%, 97%;
  --grey: 90, 4.5%, 94%;
  --background: 177, 21%, 90%;
  --input-focus-stroke: 187, 15%, 54%;
  --a4-ratio: 210/297;

  --a4-width: 794px;
  --a4-height: 1123px;
  --preview-scale: 0.8;
}

#root {
  background: hsl(var(--background));
  position: relative;

  min-height: 100vh;
  min-width: 100%;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  isolation: isolate;  
}

* {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.03rem;
  box-sizing: border-box;
  margin: 0;
}


/* Scrollbar */
::-webkit-scrollbar { 
  width: 4px;
  height: 4px;
} 

::-webkit-scrollbar-track { 
  background: hsl(var(--background));
} 

::-webkit-scrollbar-thumb {
  background: hsl(var(--primary)); 
  border-radius: 5px 
} 

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--hover));
}



/* === 左側編輯區 === */

.editor {
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  min-height: 90vh;
  width: 60%;
  padding-bottom: 6rem;
  padding-left: 3rem;
}


/* Header */
.app-header {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: .2rem; 
  padding: 2rem 0 1rem;
  color:  hsl(var(--primary-dark));
  margin-bottom: 2rem;
}

.app-header h1 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-wrap: nowrap; 
  gap: .4rem; 
  font-size: 1.4rem; 
  font-weight: 600;
}

.app-header p {
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
}


/* Image */
.uploadImage {
  color: hsl(var(--primary-dark));
  background: hsl(var(--white));
  font-size: 0.9rem;

  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.uploadImage label {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;

  cursor: pointer;
}

.uploadImage span {
  font-weight: 700;
}

@media (max-width: 480px) {
  .uploadImage input {
    width: 50%;
  }
}

@media (max-width: 360px) {
  .uploadImage span {
    width: 30%;
  }

  .uploadImage input {
    width: 70%;
  }
}


/* 移除照片按鈕 */
.remove-photo-inline {
  display: flex;
  align-items: center;

  background: none;
  border: none;
  color: hsl(var(--primary-dark));

  font-size: 0.8rem;
  padding: 0;
  margin-left: auto;
  border-radius: 4px;

  cursor: pointer;  
  transition: all 0.2s;
}

.remove-photo-inline:hover {
  color: #C73E3A;
  transform: scale(1.3);
}



/* 折疊區塊 */
.section {
  margin-bottom: 1rem;
  border: 1px solid hsl(var(--white));
  border-radius: 8px;
  background: hsl(var(--light));
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.section-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: hsl(var(--white));
  padding: 0.75rem 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5rem;

  border: none;
  transition: background 0.2s ease;
}

.section-header:hover {
  background: hsl(var(--grey));
}

/* icon標示 */
.section-icon {
  margin-right: 0.5rem;
  color: hsl(var(--primary));
}

/* 箭頭標示 */
.toggle-icon {
  margin-left: auto;
  color: hsl(var(--primary));
  transition: transform 0.3s ease;
}

button[aria-expanded="true"] .toggle-icon {
  transform: rotate(180deg);
}

.section-content {
  padding: 1rem;
  background: hsl(var(--light));
  animation: slideDown 0.5s ease;
}

.section-content label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
  font-size: 0.95rem;
}

.section-content input {
  margin-top: 0.25rem;
  padding: 0.5rem;
  border: 1px solid hsl(var(--grey));
  border-radius: 6px;
  font-size: 0.9rem;
  background: hsl(var(--background));
}

.section-content textarea {
  width: 100%;
  min-height: 100px;       /* 預設高度 */
  resize: vertical;        /* 可以拉伸高度 */
  padding: 0.5rem;
  border: 1px solid hsl(var(--grey));
  background: hsl(var(--background));
  border-radius: 6px;
  font-size: 0.9rem;
  font-family: inherit;    /* 跟父層字體一致 */
  line-height: 1.4;
  box-sizing: border-box;
  color: inherit;
}

input:focus, textarea:focus { 
  outline: 1px solid hsl(var(--primary));
  box-shadow: 0 0 0 2px hsl(var(--input-focus-stroke)); 
  background: hsl(var(--light));
}


.footer {
  color: hsl(var(--primary-dark));
  font-weight: bold;
  font-family: "reef";

  display: flex;
  text-align: center;
  justify-content: center;

  margin-top: 3rem;
}


/* remove */
.work-experience .remove, .education .remove {
  border: none;
  border-radius: 50%;
  background: transparent;
  color: hsl(var(--primary-dark));

  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-left: auto;

  cursor: pointer;
  transition: background 0.2s ease, transform 0.15s ease, color 0.2s ease;
}

.work-experience .remove:hover, .education .remove:hover {
  background: hsl(var(--primary-dark));
  color: hsl(var(--primary-light));
}


/* button active */
.work-experience .remove:active, .education .remove:active {
  background: hsl(var(--primary-dark));
  color: hsl(var(--background));
  transform: scale(0.9);
}

/* setEndDate */
.setEndDate {
  font-family: "JFopen";
  font-size: 0.8rem;
  border: 3px solid hsl(var(--primary-light));
  border-radius: 20px;
  background: transparent;
  color: hsl(var(--primary-dark));

  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;

  transition: transform 0.3s ease, background 0.3s ease;
}

.setEndDate:hover {
  transform: scale(1.05);
  background: hsl(var(--primary-light));
}

/* skills button */
.skills .multi-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;       /* input 與按鈕的間距 */
  margin-bottom: 0.5rem;
}

.skills .multi-item input {
  flex: 1;           /* input佔滿剩餘空間 */
}

.skills .multi-item button {
  border: none;
  border-radius: 50%;
  background: transparent;
  color: hsl(var(--primary-dark));

  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background 0.2s ease, transform 0.15s ease, color 0.2s ease;
}

/* 分類 */
.skill-category-title {
  font-size: 0.7rem;
  font-weight: 800;
  color: hsl(var(--primary-dark));
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.category-input {
  font-weight: bold;
  border-bottom: 2px solid hsl(var(--primary)) !important;
  margin-bottom: 0.5rem;
  background: transparent;
}

.category-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.remove-category {
  background: none;
  border: none;
  color: #C73E3A;
  cursor: pointer;
}

.add-sub {
  font-size: 0.8rem;
  color: gray;

  background: none;
  border: none;

  cursor: pointer;

  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 5px;
}

.skills .multi-item button:hover {
  background: hsl(var(--primary-dark));
  color: hsl(var(--primary-light));
}

/* skills active */
.skills .multi-item button:active {
  background: hsl(var(--primary-dark));
  color: hsl(var(--background));
  transform: scale(0.9);
}

/* + Add Skill button */
.work-experience .add, .education .add, .skills .add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  margin-top: 0.8rem;
  padding: 0.3rem 1rem;

  font-weight: 600;
  color: hsl(var(--primary-dark));
  background: transparent;
  border: 1px dashed hsl(var(--primary-dark));
  border-radius: 15px;

  cursor: pointer;
  transition: background 0.2s ease, transform 0.15s ease, color 0.2s ease;
}

.work-experience .add:hover, .education .add:hover, .skills .add:hover {
  background: hsl(var(--background));
}

.work-experience .add:active, .education .add:active, .skills .add:active {
  background: hsl(var(--primary-dark));
  color: hsl(var(--primary-light));
  transform: scale(0.97);
}



/* 簡單的下滑動畫 */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





/* === 右側 A4 預覽 === */

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 100vw;
  overflow: hidden;

  position: sticky;
  top: 4rem;
}


.preview {
  position: relative;

  /* 容器大小 = A4 原始大小 * 縮放比例 */
  width: calc(var(--a4-width) * var(--preview-scale));
  height: calc(var(--a4-height) * var(--preview-scale));
  margin: 0 auto;

  box-shadow: 0 4px 15px rgba(0,0,0,0.15);

  flex-shrink: 0;
  overflow: hidden;
}


.preview-size { 
  text-align: center; 
  margin-top: 1.5rem; 
  font-size: .8rem; 
  color: hsl(var(--primary));
}


.resume { 
  --resume-primary: 177, 31%, 40%; 
  --resume-text: 177, 10%, 20%; 
  --resume-sidebar: 177, 25%, 95%; 
  --resume-separator: 177, 30%, 70%; 
  --sidebar-text: 177, 50%, 30%; 
 
  display: flex; 
  flex-direction: column;
  gap: 1.5rem; 

  width: var(--a4-width) !important;
  height: var(--a4-height) !important;
  margin: 0;

/* 視覺縮放 */
  transform: scale(var(--preview-scale));
  transform-origin: top left;
  
  background: rgb(255, 255, 255); 
  color: hsl(var(--resume-text)); 
  
  /* 修正字體單位*/
  font-size: 12pt; 
  
  padding: 10mm; /* 預留標準紙張邊距 */
  box-sizing: border-box;

  overflow: hidden;
}


.selfimage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

  background: hsl(var(--grey));
  margin-left: 3rem;
}

.selfimage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}


.resume-header {
  margin: 0;

  display: flex;
  align-items: center;

  gap: 4rem;
}

.name-job {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
  margin-right: auto;
}

.full-Name {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
}

.job { 
  font-size: 1.1rem; 
  letter-spacing: 0.15rem; 
  font-weight: 700;
  opacity: 0.9;
  color: hsl(var(--resume-primary)) ;
}

.resume-heading { 
  font-size: 0.9rem; 
  font-weight: 700; 
  letter-spacing: 0.05rem; 
  color: hsl(var(--resume-primary)) ;
} 


/* Body：側邊欄 + 主內容 */
.resume-body {
  flex: 1;
  display: grid;
  grid-template-columns: 15rem minmax(0, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}


/* 主內容 */
.main-content { 
  padding-top: 1rem; 
  display: flex; 
  flex-direction: column; 
  gap: 2rem ;
} 

.main-content section { 
  position: relative; 
  display: flex; 
  flex-direction: column; 
  gap: 0.8rem ;
} 

.main-content section:not(:last-child):after { 
  content: ""; 
  position: absolute; 
  bottom: -.8em; 
  width: 100%; 
  border-top: .1em dashed hsl(var(--resume-separator));
}



.resume-profile p {
  line-height: 1.6;
  text-align: justify;
  font-size: 10pt;

  white-space: pre-wrap;
  width: 100%;
  overflow-wrap: break-word;
  word-break: normal; 
}

.experience-item, .education-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 0.5rem;

  font-size: 0.7rem;
  margin-bottom: 1.2rem;
  width: 100%;
}

.description {
  grid-column: 1 / span 2;
  margin: 0;
  padding: 0 0 0 0.5rem;

  white-space: pre-wrap;       /* 保留換行符號並自動換行 */
  word-wrap: break-word;       /* 強制長單字換行 */
  overflow-wrap: break-word;   /* 現代瀏覽器通用 */
  line-height: 1.5;
  text-align: justify;
}

.company, .school {
    font-weight: 900;
}

.school strong, .company strong {
  font-size: 0.85rem;
  color: #333;
}

.school {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.3rem;

  margin-bottom: 0.5rem;
}

.degree {
  font-weight: 700;
}

.position, .major {
  grid-column: 1 / span 2;
  margin-top: -.2rem;
}

.position {
  font-weight: 600;
}



/* sideBar */

.sideBar {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  background: hsl(var(--resume-sidebar));
  padding: 1.5rem 1rem;
  height: 100%;
  width: 100%;

  border-radius: 0 0.5rem 0.5rem 0;
  color: hsl(var(--sidebar-text));
}

.sideBar h3::after {
  content: "";
  display: block;
  width: 75%; 
  height: 1.5px;
  background: hsl(var(--primary-dark));
  margin-top: 0.2rem;
  border-radius: 2px;
}


.contact, .resume-skills {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  text-wrap: wrap;
  overflow-wrap: anywhere;
}

.contact h3, .resume-skills h3{
  font-size: 0.85rem;
}



.skill-category-group {
  margin-bottom: 1.5rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;    /* 自動換行 */
  gap: 0.4rem;        /* 標籤之間的間距 */
  margin-top: 0.5rem;
}

/* --- 單個標籤樣式 --- */
.skill-tag {
  background-color: hsl(var(--primary-light)); 
  color: hsl(var(--primary-dark));
  
  font-size: 0.65rem; 
  font-weight: 700;
  padding: 0.2rem 0.6rem;
  border-radius: 50px;
  
  border: 1px solid hsl(var(--primary), 0.3);
  
  white-space: nowrap;
}

.sideBar h3::after {
  margin-bottom: 0.5rem;
}


.contact {
  font-size: 0.8rem;
}

.contact-list {
  display: flex;
  flex-direction: column;
  font-size: inherit;
  gap: 0.6em;
  text-wrap: wrap;
  overflow-wrap: anywhere;
}

.contact-list p {
  display: grid;
  grid-template-columns: 1.2rem 1fr; 
  align-items: center;

  gap: 0.2rem;
  margin-bottom: 0.4rem;
}






/* === 工具列 === */
.cv-tools {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
}

.cv-tools button {
  padding: 0.7rem;
  background: hsl(var(--primary));
  border: none;
  color: hsl(var(--white));
  cursor: pointer;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  transition: background 0.3s ease, transform 0.15s ease;
}

.cv-tools button:hover {
  background: hsl(var(--primary-dark));
}

.cv-tools button:active {
  transform: scale(0.95);
}





/* 預設隱藏 */
.hide { display: none !important; }
.show { display: block !important; }

/* Flex 容器版 */
.editor, .preview {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* 漸變顯示 */
.show.fade-in {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.hide.fade-out {
  opacity: 0;
  transform: translateY(-2rem);
}





/* === 列印效果 === */
@media print {

  @page {
    size: A4 portrait;
    margin: 0;
  }

  .page-break {
    page-break-after: always; /* 強制分頁 */
  }

  body, #root {
    padding: 0 !important;
    margin: 0 !important;
  }

  * {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
  }

  /* 確保元素可見 */
  .resume,
  .resume * {
      visibility: visible !important;
      transform: none !important;
  }

  /* 隱藏不需要列印的元素 */
  .cv-tools,
  .editor,
  .preview-size,
  .app-header {
      display: none !important;
  }

  .preview {
    position: static !important;
    width: 210mm !important;
    height: 297mm !important;
  }
}

/* === 響應式調整 === */
@media screen and (max-width: 1120px) {
  #root {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    min-width: 100%;
    width: 100%;
    height: auto;

    overflow-x: hidden;
  }

  .editor {
    width: 95%;
    max-width: 700px;
    padding-bottom: 2rem;
    padding-left: 0;
  }

  .preview-container {
    position: relative;
    top: 0;
    margin-top: 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    margin-bottom: 2rem;
  }
  
  .preview {
    position: relative;
    top: 0;
    
    width: calc(var(--a4-width) * var(--preview-scale));
    height: calc(var(--a4-height) * var(--preview-scale));   

    overflow: hidden; 
    margin: 0 auto; 
    
    aspect-ratio: auto;
  }

  .preview-size {
    margin-bottom: 5rem;
  }

  .cv-tools {
    /* 改為橫向排列並撐滿底部 */
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-around; /* 按鈕平均分配空間 */
    
    padding: 0.5rem;
    backdrop-filter: blur(5px); /* 毛玻璃效果 */
    border-top: 1px solid hsl(var(--primary-light));
    border-radius: 15px 15px 0 0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  }

  .cv-tools button {
    box-shadow: none; /* 既然有底色了，可以取消陰影 */
  }
}


@media (min-width: 1121px) {
  .cv-tools button.toggle-preview {
    display: none;
  }
}

@media (max-width: 720px) {
   .footer {
    font-size: 0.8rem;
    margin-top: 2rem;
  }
}


